@inherits LayoutComponentBase
@using NotatnikMechanika.Client.Utils
@using MvvmPackage.Core.Services.Interfaces
@using MVVMPackage.Blazor.Services
@inject IMvNavigationService NavigationService

<div class="main-layout">
    <MatDialog @bind-IsOpen="@dialogIsOpen" ChildContent="@dialogContent" />
    <AuthorizeView>
        <Authorized>
            <MatAppBarContainer Class="app-bar">
                <MatAppBar Fixed="true">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                            <MatAppBarTitle>Notatnik mechanika</MatAppBarTitle>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>
                <MatAppBarContent>
                    <MatDrawerContainer Class="drawer-container">
                        <MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up">
                            <ChildContent>
                                <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                                    <NavMenu />
                                </MatDrawer>
                            </ChildContent>

                            <ElseContent>
                                <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Dismissible">
                                    <NavMenu />
                                </MatDrawer>
                            </ElseContent>
                        </MatHidden>
                        <MatDrawerContent>
                            <div class="page-content">
                                @Body
                            </div>
                        </MatDrawerContent>
                    </MatDrawerContainer>
                </MatAppBarContent>
            </MatAppBarContainer>
        </Authorized>
        <NotAuthorized>
            <Redirect Path="/" />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code
{
    bool Opened = true;
    bool dialogIsOpen = false;
    RenderFragment dialogContent = d => { };

    void DialogStateChanged(bool isShowing, RenderFragment dialogPage)
    {
        dialogIsOpen = isShowing;
        dialogContent = dialogPage;
        StateHasChanged();
    }

    void ButtonClicked()
    {
        Opened = !Opened;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(NavigationService is NavigationService navigationService)
        {
            navigationService.DialogChanged = DialogStateChanged;
        }
        base.OnAfterRender(firstRender);
    }
}



