@inject NavigationManager NavigationService

<MBDrawer @ref="@Drawer" IsDismissible="true">
    <div class="mdc-list">
        <MBListItem LeadingIcon="favorite" Label="Zlecenia" @onclick="@(e => ListItemClickHandler("orders"))" />
        <MBListItem LeadingIcon="account_box" Label="Klienci" @onclick="@(e => ListItemClickHandler("customers"))" />
        <MBListItem LeadingIcon="local_laundry_service" Label="Usługi" @onclick="@(e => ListItemClickHandler("services"))" />
        <MBListItem LeadingIcon="home" Label="Magazyn" @onclick="@(e => ListItemClickHandler("commodities"))" />
        <MBListItem LeadingIcon="restore_from_trash" Label="Archiwum" @onclick="@(e => ListItemClickHandler("orders/archived"))" />
        <MBListItem LeadingIcon="file_copy" Label="Faktury/Paragony" @onclick="@(e => ListItemClickHandler(""))" />
        <MBListItem LeadingIcon="account_box" Label="Moje konto" @onclick="@(e => ListItemClickHandler("myaccount"))" />
    </div>
</MBDrawer>


@code{
        
    private MBDrawer Drawer { get; set; }    

    private void ListItemClickHandler(string NavigationReference)
    {
        Drawer.NotifyNavigation();
        NavigationService.NavigateTo(NavigationReference);
    }

    public void SideBarToggle()
    {
       Drawer.Toggle();
    }       
}