@page "/addcar/{parameter}"
@using NotatnikMechanika.Core.PageModels
@using MvvmPackage.Blazor
@inherits PageBase<AddCarPageModel>

<div class="card">
    <div class="card-header">
        <p>Dodaj samochód</p>
    </div>

    <div class="card-content mat-elevation-z13">
        <EditForm Model="@PageModel.Model" OnValidSubmit="_ => PageModel.AddCommand.Execute(null)">
            <MatTextField @bind-Value="@PageModel.Model.Brand" Class="text-field" Label="Marka" Outlined="true"></MatTextField>
            <ValidationMessage For="@(() => @PageModel.Model.Brand)" />
            <MatTextField @bind-Value="@PageModel.Model.Model" Class="text-field" Label="Model" Outlined="true"></MatTextField>
            <ValidationMessage For="@(() => @PageModel.Model.Model)" />
            <MatTextField @bind-Value="@PageModel.Model.Plate" Class="text-field" Label="Rejestracja" Outlined="true"></MatTextField>
            <ValidationMessage For="@(() => @PageModel.Model.Plate)" />
            <MatTextField @bind-Value="@PageModel.Model.Engine" Class="text-field" Label="Silnik" Outlined="true"></MatTextField>
            <ValidationMessage For="@(() => @PageModel.Model.Engine)" />
            <MatTextField @bind-Value="@PageModel.Model.Power" Class="text-field" Label="Moc" Outlined="true"></MatTextField>
            <ValidationMessage For="@(() => @PageModel.Model.Power)" />
            <MatTextField @bind-Value="@PageModel.Model.Vin" Class="text-field" Label="Vin" Outlined="true"></MatTextField>
            <ValidationMessage For="@(() => @PageModel.Model.Vin)" />
            <MatButton Label="Zapisz" Type="Submit" Raised="true" />
        </EditForm>
    </div>
</div>

