@page "/addcar/{parameter}"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@inherits PageBase<AddCarPageModel>


<div class="mdc-layout-grid__cell">
    <MBCard AutoStyled="true">
        <Primary>
            <EditForm Model="@PageModel.Model" OnValidSubmit="_ => PageModel.AddCommand.Execute(null)">
               <p><MBTextField @bind-Value="@PageModel.Model.Brand" Label="Marka" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Brand)"/></p>
               <p><MBTextField @bind-Value="@PageModel.Model.Model" Label="Model" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Model)"/></p>
               <p><MBTextField @bind-Value="@PageModel.Model.Plate" Label="Rejestracja" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Plate)"/></p>
               <p><MBTextField @bind-Value="@PageModel.Model.Engine" Label="Silnik" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Engine)"/></p>
               <p><MBTextField @bind-Value="@PageModel.Model.Power" Label="Moc" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Power)"/></p>
               <p><MBTextField @bind-Value="@PageModel.Model.Vin" Label="Vin" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Vin)"/></p>
               <p><MBButton Label="Zapisz" Type="Submit" ButtonStyle="@MBButtonStyle.ContainedRaised" /></p>
            </EditForm>
        </Primary>
    </MBCard>
</div>