@page "/addcustomer"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@inherits PageBaseInt<AddCustomerPageModel>


<div class="add-customer">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell-span-6">
                <div class="card mat-elevation-z13">
                    <div class="card-header">
                        <p>Dane Klienta</p>
                    </div>
                    <div class="card-content">
                        <MatTextField @bind-Value="@PageModel.Model.Name" Class="text-field" Label="Imię" Outlined="true"></MatTextField>
                        <MatTextField @bind-Value="@PageModel.Model.Surname" Class="text-field"  Label="Nazwisko" Outlined="true"></MatTextField>
                        <MatTextField @bind-Value="@PageModel.Model.Phone" Class="text-field"  Label="Telefon" Outlined="true"></MatTextField>
                        <MatTextField @bind-Value="@PageModel.Model.Address" Class="text-field"  Label="Adres" Outlined="true"></MatTextField>
                    </div>
                </div>
            </div>
            <div class="mat-layout-grid-cell-span-6">
                <div class="card mat-elevation-z13">
                    <div class="card-header">
                        <p>Dane Firmy</p>
                    </div>
                    <div class="card-content">
                        <MatTextField @bind-Value="@PageModel.Model.CompanyName" Class="text-field" Label="Nazwa firmy" Outlined="true"></MatTextField>
                        <MatTextField @bind-Value="@PageModel.Model.CompanyIdentyficator" Class="text-field" Label="NIP" Outlined="true"></MatTextField>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <MatButton Raised="true" Label="Dodaj klienta" Command="@PageModel.AddCommand" />
</div>
