@page "/addcommodity"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@inherits PageBase<AddCommodityPageModel>

<Card>
    <CardHeader>
        <p>Dodaj Towar</p>
    </CardHeader>

    <CardContent>
        <EditForm Model="@PageModel.Model" OnValidSubmit="_ => PageModel.AddCommand.Execute(null)">
            <MatTextField @bind-Value="@PageModel.Model.Name" Class="text-field" Label="Nazwa" Outlined="true" />
            <ValidationMessage For="@(() => @PageModel.Model.Name)" />
            <MatTextField @bind-Value="@PageModel.Model.Price" Class="text-field" Label="Cena" Outlined="true" />
            <ValidationMessage For="@(() => @PageModel.Model.Price)" />

            <MatButton Label="Zapisz" Type="Submit" Raised="true" />
        </EditForm>
    </CardContent>
</Card>