@page "/addcustomer"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@inherits PageBase<AddCustomerPageModel>


<div class="add-customer">
    <EditForm Model="@PageModel.Model" OnInvalidSubmit="_ => PageModel.AddCommand.Execute(null)">
        <WrapPanel>
            <WrapPanelCard>
                <CardHeader>
                    <p>Dane Klienta</p>
                </CardHeader>
                <CardContent>
                    <MatTextField @bind-Value="@PageModel.Model.Name" Class="text-field" Label="Imię" Outlined="true"></MatTextField>
                    <ValidationMessage For="@(() => @PageModel.Model.Name)" />
                    <MatTextField @bind-Value="@PageModel.Model.Surname" Class="text-field" Label="Nazwisko" Outlined="true"></MatTextField>
                    <ValidationMessage For="@(() => @PageModel.Model.Surname)" />
                    <MatTextField @bind-Value="@PageModel.Model.Phone" Class="text-field" Label="Telefon" Outlined="true"></MatTextField>
                    <ValidationMessage For="@(() => @PageModel.Model.Phone)" />
                    <MatTextField @bind-Value="@PageModel.Model.Address" Class="text-field" Label="Adres" Outlined="true"></MatTextField>
                    <ValidationMessage For="@(() => @PageModel.Model.Address)" />
                </CardContent>
            </WrapPanelCard>
            <WrapPanelCard>
                <CardHeader>
                    <p>Dane Firmy</p>
                </CardHeader>
                <CardContent>
                    <MatTextField @bind-Value="@PageModel.Model.CompanyName" Class="text-field" Label="Nazwa firmy" Outlined="true"></MatTextField>
                    <ValidationMessage For="@(() => @PageModel.Model.CompanyName)" />
                    <MatTextField @bind-Value="@PageModel.Model.CompanyIdentyficator" Class="text-field" Label="NIP" Outlined="true"></MatTextField>
                    <ValidationMessage For="@(() => @PageModel.Model.CompanyIdentyficator)" />
                </CardContent>
            </WrapPanelCard>
        </WrapPanel>
        <MatButton Raised="true" Label="Dodaj klienta" Type="Submit" />
    </EditForm>
</div>
