@page "/addcustomer"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@inherits PageBase<AddCustomerPageModel>


<div class="mdc-layout-grid__cell">
    <EditForm Model="PageModel.Model" OnValidSubmit="_ => PageModel.AddCommand.Execute(null)">
        <MBCard AutoStyled="true">
            <Primary>
                <MBTextField @bind-Value="@PageModel.Model.Name" Label="Imię" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Name)" />
                <MBTextField @bind-Value="@PageModel.Model.Surname" Label="Nazwisko" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Surname)" />
                <MBTextField @bind-Value="@PageModel.Model.Phone" Label="Telefon" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Phone)" />
                <MBTextField @bind-Value="@PageModel.Model.Address" Label="Adres" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.Address)" />
                <MBTextField @bind-Value="@PageModel.Model.CompanyName" Label="Nazwa firmy" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.CompanyName)" />
                <MBTextField @bind-Value="@PageModel.Model.CompanyIdentyficator" Label="NIP" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => @PageModel.Model.CompanyIdentyficator)" />
                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised" Label="Dodaj klienta" Type="Submit" />
            </Primary>
        </MBCard>
    </EditForm>
</div>