@page "/addservice"
@inherits PageBase<AddServicePageModel>

<div class="mdc-layout-grid__cell">
    <MBCard AutoStyled="true">
        <Primary>
            <EditForm Model="PageModel.Model" OnValidSubmit="_ => PageModel.AddCommand.Execute(null)">           
                <MBTextField @bind-Value="@PageModel.Model.Name"  Label="Nazwa" TextInputStyle="MBTextInputStyle.Outlined" ValidationMessageFor="@(() => PageModel.Model.Name)"/>
                <MBNumericDoubleField
                    @bind-Value="@PageModel.Model.Price"
                    Label="Cena" 
                    NumericFormat="C2"
                    DecimalPlaces="2"
                    TextInputStyle="MBTextInputStyle.Outlined" 
                    ValidationMessageFor="@(() => PageModel.Model.Price)" />                
                    <MBButton  Label="Zapisz" Type="Submit" ButtonStyle="@MBButtonStyle.ContainedRaised" />
            </EditForm>
        </Primary>
    </MBCard> 
</div>