@page "/commodities"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Commodity
@inherits PageBase<CommoditiesPageModel>

<div class="commodities">
    @if (PageModel.IsLoading)
    {
        <MatProgressBar Indeterminate="true" />
    }
    else
    {
        <MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" OnClick="(_ => PageModel.AddCommodityCommand.Execute(null))" />
        <ExpansionPanelList Items="@PageModel.Commodities">
                <HeaderTemplate Context="commodity">
                    <p class="expansion-panel-header-text">
                        @commodity.Name @commodity.Price
                    </p>
                </HeaderTemplate>
                
                <BodyTemplate Context="service">
                    <div class="panel-buttons">
                        <MatIconButton Icon="info" Raised="true" Command="PageModel.CommoditySelectedCommand" CommandParameter="@service.Id"/>
                        <MatIconButton Icon="info" Raised="true" Command="PageModel.CommoditySelectedCommand" CommandParameter="service.Id"/>
                        <MatIconButton Style="color: red;" Icon="delete" Raised="true" Command="PageModel.RemoveCommodityCommand" CommandParameter="service.Id"/>
                    </div>
                </BodyTemplate>
            </ExpansionPanelList>
    }
</div>

