@page "/commodities"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Commodity
@inherits PageBase<CommoditiesPageModel>

@if (PageModel.IsLoading)
{
    <MBCircularProgress class="circular-progress" CircularProgressType="@MBCircularProgressType.Indeterminate" />
}
else
{
    <MBFloatingActionButton class="app-fab--absolute" Icon="add" @onclick="@(e => PageModel.AddCommodityCommand.Execute(null))" />

    <Virtualize Context="commodity" Items="@PageModel.Commodities">
        <div class="mdc-layout-grid__cell">
            <MBCard AutoStyled="true">
                <Primary>             
                    <p>
                        @commodity.Name 
                        @commodity.Price
                    </p>

                    <p>
                        <MBIconButton Icon="info" @onclick="_ => PageModel.CommoditySelectedCommand.Execute(commodity.Id)" />
                        <MBIconButton Icon="info" @onclick="_ => PageModel.CommoditySelectedCommand.Execute(commodity.Id)" />
                        <MBIconButton Icon="delete" @onclick="_ => PageModel.CommoditySelectedCommand.Execute(commodity.Id)" />
                    </p>              
                </Primary>
            </MBCard>
         </div>
    </Virtualize>
}