@page "/customers"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Customer
@inherits PageBase<CustomersPageModel>

@if (PageModel.IsLoading)
{
    <MatProgressBar Indeterminate="true" />
}
else
{
    <MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" OnClick="(_ => PageModel.AddCustomerCommand.Execute(null))" />
    <ExpansionPanelList Items="@PageModel.Customers">
        <HeaderTemplate Context="customer">
            <p class="expansion-panel-header-text">
                @customer.Name @customer.Surname
            </p>
        </HeaderTemplate>
        
        <BodyTemplate Context="customer">
            <MatDivider /> 
            <p>Samochody: 3</p>
            <p>Ostatnia naprawa: 28.10.2020</p>
            <p>@customer.Phone @customer.Address</p>
            <p>@customer.CompanyName @customer.CompanyIdentyficator</p>
            <MatDivider />
            <div class="panel-buttons">
                <MatIconButton Icon="info" Raised="true" Command="PageModel.CustomerSelectedCommand" CommandParameter="customer.Id"/>
                <MatIconButton Icon="info" Raised="true" Command="PageModel.CustomerSelectedCommand" CommandParameter="customer.Id"/>
                <MatIconButton Style="color: red;" Icon="delete" Raised="true" Command="PageModel.RemoveCustomerCommand" CommandParameter="customer.Id"/>
            </div>
        </BodyTemplate>
    </ExpansionPanelList>
}