@page "/customers"
@inherits PageBase<CustomersPageModel>

@if (PageModel.IsLoading)
{
    <MBCircularProgress class="circular-progress" CircularProgressType="@MBCircularProgressType.Indeterminate" />
}
else
{
    <MBFloatingActionButton class="app-fab--absolute" Icon="add" @onclick="@(e => PageModel.AddCustomerCommand.Execute(null))" />


    <Virtualize Context="customer" Items="@PageModel.Customers">
        <div class="mdc-layout-grid__cell">
            <MBCard AutoStyled="true">
                <Primary>
                    <p>
                        @customer.Name 
                        @customer.Surname
                    </p>

                    <p><MBDivider/></p>
                    <p>Samochody: 3</p>
                    <p>Ostatnia naprawa: 28.10.2020</p>
                    <p>@customer.Phone @customer.Address</p>
                    <p>@customer.CompanyName @customer.CompanyIdentyficator</p>
                    <p><MBDivider/></p>
                    <p>
                        <MBIconButton Icon="info" @onclick="_ => PageModel.CustomerSelectedCommand.Execute(customer.Id)" />
                        <MBIconButton Icon="info" @onclick="_ => PageModel.CustomerSelectedCommand.Execute(customer.Id)" />
                        <MBIconButton Icon="delete" @onclick="_ => PageModel.RemoveCustomerCommand.Execute(customer.Id)" />
                    </p>
                </Primary>
            </MBCard>       
        </div>
    </Virtualize>
}

