@page "/customer/{parameter}"
@using NotatnikMechanika.Shared.Models.Car
@inherits PageBase<CustomerPageModel>

@if (PageModel.IsLoading)
{
    <MBCircularProgress class="circular-progress" CircularProgressType="@MBCircularProgressType.Indeterminate" />
}
else
{
    <MBFloatingActionButton class="app-fab--absolute" @onclick="@(_ => PageModel.AddCarCommand.Execute(null))" Icon="add" />

    <div class="mdc-layout-grid__cell">
         <MBCard AutoStyled="true">
            <Primary>
                <p>@PageModel.CustomerModel.Name
                   @PageModel.CustomerModel.Surname</p>
                <p>@PageModel.CustomerModel.Phone</p>
                <p>@PageModel.CustomerModel.Address</p>
                <p>@PageModel.CustomerModel.CompanyName</p>
                <p>@PageModel.CustomerModel.CompanyIdentyficator</p>
            </Primary>
        </MBCard>
    </div>

    <Virtualize Context="car" Items="@PageModel.Cars">               
        <div class="mdc-layout-grid__cell">
            <MBCard AutoStyled="true">
                <Primary>
                    <p>@car.Brand</p>
                    <p>@car.Model</p>
                    <p>@car.Plate</p>
                    <p>@car.Vin</p>
                    <p>@car.Power</p>
                    <p>
                        <MBIconButton Icon="add" />
                        <MBIconButton Icon="edit" />
                        <MBIconButton Icon="remove" @onclick="@(_ => PageModel.RemoveCarCommand.Execute(car.Id))" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </Virtualize>
}
