@page "/orders"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Order
@inherits PageBase<OrdersPageModel>

@if (PageModel.IsLoading)
{
    <MatProgressBar Indeterminate="true" />
}
else
{
    <MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" OnClick="(_ => PageModel.AddOrderCommand.Execute(null))" />
                    <ExpansionPanelList Items="@PageModel.Orders">
                        <HeaderTemplate Context="order">
                            <p class="expansion-panel-header-text">
                                @order.CustomerModel.Name
                                @order.CustomerModel.Surname
                            </p>
                        </HeaderTemplate>
                        
                        <BodyTemplate Context="order">
                            <p>@order.CarModel.Brand @order.CarModel.Model</p>
                            <p>@order.CustomerModel.Phone</p>
                            <MatDivider />
                            <p>Postęp: 30%</p>
                            
                            <ProgressBar Progress="0.3" ></ProgressBar>
                            
                            <p>Do końca: 5 dni</p>
                            
                            <MatDivider />
                            
                            <div class="panel-buttons">
                                <MatIconButton Icon="info" Raised="true" Command="PageModel.OrderSelectedCommand" CommandParameter="order.Id"/>
                                <MatIconButton Icon="info" Raised="true" Command="PageModel.OrderSelectedCommand" CommandParameter="order.Id"/>
                                <MatIconButton Style="color: red;" Icon="delete" Raised="true" Command="PageModel.RemoveOrderCommand" CommandParameter="order.Id"/>
                            </div>
                        </BodyTemplate>
                    </ExpansionPanelList>
}




