@page "/order/{parameter}"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Service
@using NotatnikMechanika.Shared.Models.Commodity
@inherits PageBase<OrderPageModel>

@if (!PageModel.IsLoading)
{

    <WrapPanel>
        <WrapPanelCard>
            <CardHeader>
                <MatIconButton Icon="@MatIconNames.Person" />
                <p>Informacje</p>
                <MatIconButton Icon="@MatIconNames.Edit" />
            </CardHeader>

            <CardContent>
                <p>@PageModel.OrderModel.CustomerModel.Name</p>
                <p>@PageModel.OrderModel.CustomerModel.Surname</p>
                <p>@PageModel.OrderModel.CustomerModel.Phone</p>
                <p>@PageModel.OrderModel.CustomerModel.Address</p>
                <p>@PageModel.OrderModel.CustomerModel.CompanyName</p>
                <p>@PageModel.OrderModel.CustomerModel.CompanyIdentyficator</p>
            </CardContent>
        </WrapPanelCard>

        <WrapPanelCard>
            <CardHeader>
                <p>Samochód</p>
            </CardHeader>

            <CardContent>
                <p>@PageModel.OrderModel.CarModel.Brand</p>
                <p>@PageModel.OrderModel.CarModel.Model</p>
                <p>@PageModel.OrderModel.CarModel.Engine</p>
                <p>@PageModel.OrderModel.CarModel.Power</p>
                <p>@PageModel.OrderModel.CarModel.Plate</p>
                <p>@PageModel.OrderModel.CarModel.Vin</p>
            </CardContent>
        </WrapPanelCard>

        <WrapPanelCard>
            <CardHeader>
                <p>Usługi</p>
            </CardHeader>

            <CardContent>
                <MatButton Command="PageModel.AddServiceCommand" Label="Dodaj usługę" />

                @if (PageModel.Services != null)
                {
                    <MatAccordion>
                        @foreach (ServiceModel service in PageModel.Services)
                        {
                            <MatExpansionPanel>
                                <MatExpansionPanelSummary>
                                    <p>@service.Name</p>
                                    <p>@service.Price</p>
                                </MatExpansionPanelSummary>
                                <MatExpansionPanelDetails>
                                    <p>Nic tu niema</p>
                                </MatExpansionPanelDetails>
                            </MatExpansionPanel>
                        }
                    </MatAccordion>
                }
            </CardContent>
        </WrapPanelCard>

        <WrapPanelCard>
            <CardHeader>
                <p>Towary</p>
            </CardHeader>

            <CardContent>
                <MatButton Command="PageModel.AddCommodityCommand" Label="Dodaj Towar" />

                @if (PageModel.Services != null)
                {
                    <MatAccordion>
                        @foreach (CommodityModel commodity in PageModel.Commodities)
                        {
                            <MatExpansionPanel>
                                <MatExpansionPanelSummary>
                                    <p>@commodity.Name</p>
                                    <p>@commodity.Price</p>
                                </MatExpansionPanelSummary>
                                <MatExpansionPanelDetails>
                                    <p>Nic tu niema</p>
                                </MatExpansionPanelDetails>
                            </MatExpansionPanel>
                        }
                    </MatAccordion>
                }
            </CardContent>
        </WrapPanelCard>
    </WrapPanel>
}
else
{
    <MatProgressBar Indeterminate="true" />
}


