@page "/order/{parameter}"
@using NotatnikMechanika.Core.PageModels
@using MvvmPackage.Blazor
@using NotatnikMechanika.Shared.Models.Service
@using NotatnikMechanika.Shared.Models.Commodity
@inherits PageBase<OrderPageModel>

@if (!PageModel.IsLoading)
{

    <WrapPanel>
        <WrapPanelCard>
            <CardHeader>
                <MatIconButton Icon="@MatIconNames.Person" />
                <p>Informacje</p>
                <MatIconButton Icon="@MatIconNames.Edit" />
            </CardHeader>

            <CardContent>
                <p>@PageModel.OrderModel.CustomerModel.Name</p>
                <p>@PageModel.OrderModel.CustomerModel.Surname</p>
                <p>@PageModel.OrderModel.CustomerModel.Phone</p>
                <p>@PageModel.OrderModel.CustomerModel.Address</p>
                <p>@PageModel.OrderModel.CustomerModel.CompanyName</p>
                <p>@PageModel.OrderModel.CustomerModel.CompanyIdentyficator</p>
            </CardContent>
        </WrapPanelCard>

        <WrapPanelCard>
            <CardHeader>
                <p>Samochód</p>
            </CardHeader>

            <CardContent>
                <p>@PageModel.OrderModel.CarModel.Brand</p>
                <p>@PageModel.OrderModel.CarModel.Model</p>
                <p>@PageModel.OrderModel.CarModel.Engine</p>
                <p>@PageModel.OrderModel.CarModel.Power</p>
                <p>@PageModel.OrderModel.CarModel.Plate</p>
                <p>@PageModel.OrderModel.CarModel.Vin</p>
            </CardContent>
        </WrapPanelCard>

        <WrapPanelCard>
            <CardHeader>
                <p>Usługi</p>
                <MatIconButton Icon="@MatIconNames.Edit" Command="PageModel.AddServiceCommand"/>
            </CardHeader>

            <CardContent>
                @if (PageModel.Services != null)
                {
                    @foreach (var service in PageModel.Services)
                    {
                        <MatCheckbox Value="@service.Finished" Label="@service.Name"></MatCheckbox>
                    }
                }
            </CardContent>
        </WrapPanelCard>

        <WrapPanelCard>
            <CardHeader>
                <p>Towary</p>
                <MatIconButton Icon="@MatIconNames.Edit" Command="PageModel.AddCommodityCommand"/>
            </CardHeader>

            <CardContent>
                @if (PageModel.Commodities != null)
                {
                    @foreach (var commodity in PageModel.Commodities)
                    {
                        <MatCheckbox Value="@commodity.Finished" Label="@commodity.Name"></MatCheckbox>
                    }
                }
            </CardContent>
        </WrapPanelCard>
    </WrapPanel>
}
else
{
    <MatProgressBar Indeterminate="true" />
}


