@page "/services"
@using NotatnikMechanika.Client.Pages.Utils
@using NotatnikMechanika.Core.PageModels
@using MvvmPackage.Blazor
@using NotatnikMechanika.Shared.Models.Service
@inherits PageBase<ServicesPageModel>

<div class="services">
    @if (PageModel.IsLoading)
    {
        <MatProgressBar Indeterminate="true" />
    }
    else
    {
        <MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" OnClick="(_ => PageModel.AddServiceCommand.Execute(null))" />
        <ExpansionPanelList Items="@PageModel.Services">
                <HeaderTemplate Context="service">
                    <p class="expansion-panel-header-text">
                        @service.Name @service.Price
                    </p>
                </HeaderTemplate>
                
                <BodyTemplate Context="service">
                    <div class="panel-buttons">
                        <MatIconButton Icon="info" Raised="true" Command="PageModel.ServiceSelectedCommand" CommandParameter="@service.Id"/>
                        <MatIconButton Icon="info" Raised="true" Command="PageModel.ServiceSelectedCommand" CommandParameter="service.Id"/>
                        <MatIconButton Style="color: red;" Icon="delete" Raised="true" Command="PageModel.RemoveServiceCommand" CommandParameter="service.Id"/>
                    </div>
                </BodyTemplate>
            </ExpansionPanelList>
    }
</div>

