@page "/services"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Service
@inherits PageBase<ServicesPageModel>

<div class="services">
    @if (PageModel.IsLoading)
    {
        <MatProgressBar Indeterminate="true" />
    }
    else
    {
        <MatHidden BreakPoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Down">
            <ChildContent>
                <MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" Label="Dodaj usługę" OnClick="(_ => PageModel.AddServiceCommand.Execute(null))" />
                <MatTable Items="PageModel.Services" class="table" ShowPaging="false" UseSortHeaderRow="true" HeaderRowClass="table-header">
                    <MatTableHeader>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Name</td>
                        <td>@context.Price</td>
                        <td><MatButton Label="Szczegóły" Raised="true" Command="PageModel.ServiceSelectedCommand" CommandParameter="context.Id" /></td>
                        <td><MatButton Label="Usuń" Raised="true" Command="PageModel.RemoveServiceCommand" CommandParameter="context.Id" /></td>
                    </MatTableRow>
                </MatTable>
            </ChildContent>

            <ElseContent>
                <MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Add" OnClick="(_ => PageModel.AddServiceCommand.Execute(null))" />
                <MatAccordion Multi="true">
                    @foreach (ServiceModel customer in PageModel.Services)
                    {
                        <MatExpansionPanel Style="background-color: #2c2c2c;">
                            <MatExpansionPanelSummary>
                                <MatExpansionPanelHeader>
                                    <p>@customer.Name @customer.Price</p>
                                </MatExpansionPanelHeader>
                            </MatExpansionPanelSummary>
                            <MatExpansionPanelDetails>
                                <MatButton Label="Szczegóły" Raised="true" Command="PageModel.ServiceSelectedCommand" CommandParameter="customer.Id" />
                                <MatButton Label="Usuń" Raised="true" Command="PageModel.RemoveServiceCommand" CommandParameter="customer.Id" />
                            </MatExpansionPanelDetails>
                        </MatExpansionPanel>
                    }
                </MatAccordion>
            </ElseContent>
        </MatHidden>
    }
</div>

