@page "/services"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using NotatnikMechanika.Shared.Models.Service
@inherits PageBase<ServicesPageModel>


@if (PageModel.IsLoading)
{
    <MBCircularProgress class="circular-progress" CircularProgressType="@MBCircularProgressType.Indeterminate" />
}
else
{
    <MBFloatingActionButton class="app-fab--absolute" Icon="add" @onclick="@(e => PageModel.AddServiceCommand.Execute(null))" />

    <Virtualize Context="service" Items="@PageModel.Services">
        <div class="mdc-layout-grid__cell">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__cell">
                        <p>
                            @service.Name 
                            @service.Price
                        </p>

                        <p>
                            <MBIconButton Icon="info" @onclick="_ => PageModel.ServiceSelectedCommand.Execute(service.Id)" />
                            <MBIconButton Icon="info" @onclick="_ => PageModel.ServiceSelectedCommand.Execute(service.Id)" />
                            <MBIconButton Icon="delete" @onclick="_ => PageModel.ServiceSelectedCommand.Execute(service.Id)" />
                        </p>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </Virtualize>
}